# Auth
AUTH_SECRET=
NEXTAUTH_URL=

# MongoDB
MONGODB_URI=

# Payments
SHOP_ID=
SECRET_KEY=

# LLM providers
OPENROUTER_API_KEY=
TOGETHER_API_KEY=
DEEPINFRA_API_KEY=

# Yandex Cloud / Object Storage
YANDEX_CLOUD_ACCESS_KEY_ID=
YANDEX_CLOUD_SECRET_ACCESS_KEY=
YANDEX_CLOUD_BUCKET=

# Search
SERPER_API_KEY=
